site_name: calctl Documentation
site_description: A command-line calendar management tool
site_author: ChiChi Zhang
site_url: https://chichizhang0510.github.io/calctl/

repo_name: chichizhang0510/calctl
repo_url: https://github.com/chichizhang0510/calctl

theme:
  name: material
  palette:
    primary: indigo
    accent: blue
  features:
    - navigation.instant
    - navigation.tracking
    - toc.integrate

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.superfences